#banner
  .banner_content
    %h1 File Cabinet
    %p Cloud File Manager. Organized, Always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, ei meis oratio torquatos nam. Ius an propriae vituperata, augue equidem rationibus ea eam.
        Te mea dico legendos consulatu. Dicat labores delectus id sit. Sed graeco antiopam ut, eros legere indoctum te est.
        Possit mediocrem ex sea, mea wisi dicam cu. At mea quot wisi. Per ne vitae iudico periculis. No mundi persecuti mei,
        diam explicari ex vis. Nec natum philosophia ut. Sed et solet liberavisse.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
